.c-bg-header {
  background-color: getColor("default",5);
  width: 100%;
  position: absolute;
  z-index: -1;
  height: 320px;

  @media (max-width: getBkpoints("lg")) {
    height: 280px;
  }


  &__slim {
    height: 180px;
  }
  // &--slim{

  //   background-color: getColor("default",5);
  // width: 100%;
  // position: absolute;
  // z-index: -1;
  // height: 150px;

  // }

}
