.c-chart {
  width: 1320px;
  height: 450px;
  margin-left: -100px;
  margin-top: -50px;
  margin-bottom: -30px;
  // z-index: -1;

  @media (max-width: getBkpoints("sm")) {
    width: 440px;
    margin-left: -15px;
    margin-bottom: 30px;
  }
}
