.c-chevron {
  font-size: getFontSizes("m1");
  color: getColor("white",1);
  opacity: 0.5;
  margin: auto;
  margin-right: getMargins("5");

  &__menu {
    opacity: 1;
  }


  &__main {
    font-size: getFontSizes("s3");
    opacity: 1;
    margin-left: getMargins("3");
    margin-right: -5px;
  }

}
