<div class="l-far-end g--gradient-background">
  <div class="l-far-end__left">
    <div class="l-horizontal">
      <img src="../../assets/logo.png" alt="" width="75px" height="75px">
      <div class="c-title">Sports Hub</div>
    </div>
  </div>
  <div class="l-far-end__right">
    <div class="l-horizontal g--vertical-margin--5">
      <button class="c-button__alternative">Regístrate</button>
      <button class="c-button__alternative" style="margin-right: 20px;" [routerLink]="['/login']" >Acceder</button>
    </div>
  </div>
</div>
