.l-body {
  width: 100vw;
  margin: auto;
  font-family: "IBM Plex Sans";
}



@each $Bkkey in getBkpointKeys() {

  @media (min-width: getBkpoints($Bkkey)) {
    .l-body\@#{$Bkkey} {
      width: 1100px;
      margin: auto;
    }
  }

}

@each $Bkkey in getBkpointKeys() {

  @media (min-width: getBkpoints($Bkkey)) {
      @each $bWidth in getBodyWidthKeys() {
          .l-body--#{$bWidth}\@#{$Bkkey} {
            width: unquote( getBodyWidth($bWidth) );

          }
      }
  }
}

// // hide all scrollbars
// ::-webkit-scrollbar {
//   display: none;
// }
