<div class="c-footer">
  <div class="l-page">
  <div class="l-columns l-columns--3">
    <div class="l-vertical g--vertical-margin--3">
      <div class="c-subtitle">CONTACTO</div>
      <div class="c-subtitle">Telefono: 666666666</div>
      <div class="c-subtitle">Dirección: C/Falsam 123</div>
      <div class="c-subtitle">Localidad: Harvarcete, AB, España</div>
      <div class="c-subtitle">Código Postal: 46970</div>
    </div>
    <div>
      <div class="l-vertical g--vertical-margin--3">
        <div class="c-subtitle">CONTACTO</div>
        <div class="c-subtitle">Telefono: 666666666</div>
        <div class="c-subtitle">Dirección: C/Falsam 123</div>
        <div class="c-subtitle">Localidad: Harvarcete, AB, España</div>
        <div class="c-subtitle">Código Postal: 46970</div>
      </div>
    </div>
    <div>
      <div class="l-vertical g--vertical-margin--3">
        <div class="c-subtitle">CONTACTO</div>
        <div class="c-subtitle">Telefono: 666666666</div>
        <div class="c-subtitle">Dirección: C/Falsam 123</div>
        <div class="c-subtitle">Localidad: Harvarcete, AB, España</div>
        <div class="c-subtitle">Código Postal: 46970</div>
      </div>
    </div>
  </div>
</div>
</div>
