$paddings :(

    "0": 0px,
    "1": 2px,
    "2": 4px,
    "3": 8px,
    "4": 12px,
    "5": 16px,
    "6": 20px,
    "7": 32px,
    "8": 40px,
    "9": 48px,
    "10":64px,
    "11":80px,
    "12":96px,
    "13":128px,
    "14":160px,
    "15":192px,
    "16":224px,
    "17":256px,
    "18":320px,
    "19":480px,
    "20":640px

);

$font-sizes:(

    "s1": 6px,
    "s2": 8px,
    "s3": 10px,
    "s4": 12px,
    "m1": 14px,
    "m2": 16px,
    "m3": 20px,
    // "m1": 15px,
    // "m2": 16px,
    // "m3": 18px,
    "m4": 24px,
    "m5": 26px,
    "l1": 30px,
    "l2": 36px,
    "l3": 42px,
    "l4": 48px,
    "l5": 54px,
    "xl1": 60px,
    "xl2": 80px,
    "xl3": 100px,
    "xl4": 200px,
    "xl5": 400px,
    "xl6": 800px,

);


$box-shadows:(

    "0": "none",
    "1": "0 1px 3px hsla(0,0%,0%,.2)",
    "2": "0 4px 6px hsla(0,0%,0%,.2)",
    "3": "0 5px 15px hsla(0,0%,0%,.2)",
    "4": "0 10px 24px hsla(0,0%,0%,.2)",
    "5": "0 15px 35px hsla(0,0%,0%,.2)",
    "6": "0 20px 40px hsla(0,0%,0%,.2)",

);

$border-radiuses:(

    "0":0px,
    "1":2px,
    "2":4px,
    "3":6px,
    "4":8px,
    "5":16px

);



$font-weights:(


    "300":300,
    "400":400,
    "500":500,
    "600":600,
    "700":700

);




$margins:(

    "0": 0px,
    "1": 2px,
    "2": 4px,
    "3": 8px,
    "4": 12px,
    "5": 16px,
    "6": 20px,
    "7": 32px,
    "8": 40px,
    "9": 48px,
    "10":64px,
    "11":80px,
    "12":96px,
    "13":128px,
    "14":160px,
    "15":192px,
    "16":224px,
    "17":256px,
    "18":320px,
    "19":480px,
    "20":640px




);

$breakpoints:(

    "sm":"640px",
    "md":"768px",
    "lg":"1024px",
    "xl": "1280px",


);



$body-width:(

    "sm":"550px",
    "md":"700px",
    "lg":"900px",
    "xl": "1100px",

);
